@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Noto+Sans:wght@900&display=swap');

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Lato', sans-serif;
}

nav {
    position: absolute;
    padding: 3% 0% 0% 6%;
}

#navg {
    background-color: #272a31;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#menuOpen {
    width: 2.5rem;
    cursor: pointer;
}

#menuList {
    display: none;
    list-style: none;
    padding: 0%;
}

#menuList a {
    text-decoration: none;
    font-size: 2rem;
    line-height: 4rem;
    color: #ec5242;
}

#intro {
    margin: 0;
    padding: 22% 5% 17% 5%;
    background-image: url(./images/mobileShapes.jpg);
    background-position: center;
    background-size: cover;
}

#hello {
    color: #ec5242;
    font-weight: 400;
    margin: 0 0 2% 0;
}

#gamecon {
    margin: 0;
    line-height: 2rem;
    font-size: 2.2rem;
    font-family: 'Noto Sans', sans-serif;
    color: #ec5242;
    background-image: url(./images/textBackground.jpg);
    background-position: center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#eventDetail {
    background-color: rgb(238, 237, 233);
    color: #535353;
    font-size: 0.85rem;
    border: 0.3rem solid whitesmoke;
    padding: 3%;
    margin: 6% 0% 2% 0%;
}

#eventDetail p {
    margin: 0;
    line-height: 1.5rem;
}

#date {
    font-family: 'Noto Sans', sans-serif;
    color: #585858;
    font-size: 1.6rem;
    margin: 0;
}

#location {
    color: #535353;
    margin: 1% 0%;
    font-size: 1rem;
    font-weight: 500;
}

#program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/programBackground.jpg);
    padding: 3%;
}

#mainProgram {
    color: #d3d3d3;
    font-weight: 500;
    margin: 5% 0% 4% 0%;
}

.dash {
    background-color: #ec5242;
    width: 10%;
    height: 0.1rem;
    margin: 0% 0% 8% 0%;
}

.programs {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 4%;
    margin: 1% 0%;
    background-color: #d3d3d32c;
    gap: 3%;
    width: 90%;
}

.programTitle {
    color: #ec5242;
    font-size: 1rem;
    align-self: center;
    flex: 1;
}

.programDetail {
    color: #d3d3d3;
    font-size: 0.8rem;
    align-self: center;
    margin: 0;
    flex: 2.5;
}

.programIcon {
    max-width: 10%;
    max-height: 10%;
    flex: 1;
    align-self: center;
}

#bookBtn {
    background-color: #ec5242;
    color: #d3d3d3;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 8% 0%;
    padding: 6% 15%;
    border: 0.2rem solid #ec5242;
}

#guest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.guests {
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin: 10% 0%;
}

.guestImg {
    max-width: 25%;
    flex: 1;
    background-image: url(./images/NicePng_checkers-png_8273622.png);
    background-position-x: left;
    background-position-y: top;
    background-size: 50%;
    background-repeat: no-repeat;
    padding: 3% 0% 0% 3%;
}

.guestDetail {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.guestName {
    margin: 2% 0;
    font-size: 1.1rem;
    font-weight: 700;
}

.guestTitle {
    margin: 0;
    font-size: 0.7rem;
    color: #ec5242;
    font-style: italic;
}

.line {
    margin: 5% 1%;
    background-color: #d3d3d3;
    width: 7%;
    height: 0.15rem;
}

.guestDesc {
    margin: 0;
    font-size: 0.6rem;
}

#sponser {
    background-color: #535353;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sponserTitle {
    color: #d3d3d3;
}

#sponserList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 5%;
    padding-bottom: 10%;
}

.sponsers {
    width: 30%;
    margin-bottom: 5%;
}

footer {
    padding: 5% 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#copyright {
    color: #535353;
    font-size: 0.6rem;
    line-height: 1rem;
}

#about {
    margin: 0;
    padding: 22% 5% 10% 5%;
    background-image: url(./images/aboutShapes.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutGamecon {
    text-align: center;
    margin: 3% 0%;
    line-height: 2rem;
    font-size: 2rem;
    font-family: 'Noto Sans', sans-serif;
    color: #ec5242;
}

#aboutDetail {
    background-color: white;
    color: #535353;
    font-size: 0.85rem;
    border: 0.2rem solid whitesmoke;
    padding: 3%;
    margin: 6% 0% 2% 0%;
    text-align: center;
    line-height: 1.5rem;
}

#contact {
    text-align: center;
    width: 80%;
    color: #535353;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

#contact a {
    color: black;
    font-weight: 700;
}

#logoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logoTitle {
    font-size: 1.4rem;
    text-align: center;
    margin: 10% 0% 3% 0%;
}

.aboutdash {
    background-color: #ec5242;
    width: 5%;
    height: 0.1rem;
    margin: 0% 0% 0% 0%;
}

#logoDesc {
    text-align: center;
    width: 70%;
    font-size: 0.8rem;
}

#logoBox {
    border: 0.2rem solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 5% 0% 10% 0%;
}

#logo {
    width: 80%;
}

.hrGrey {
    height: 0.1rem;
    width: 100%;
    background-color: #d3d3d3;
}